@import "base/reset";
@import "componentes/form.scss";
@import "base/header";
@import "base/body";
@import "base/footer";

#inicio {
    .row {
        .col{
            h2 {
                font-weight: bold;
                font-size: 32px;
                margin-bottom: 50px;
            }
            .video {
                width:  90%;
                height: 450px;
                margin-bottom: 50px;
            }
         
            
        }
    }
}

.disclaimer {
    display: none;
  }